<template>
  <div class="comment-wrapper">
    <b-card class="mt-3">
      <template #header>
        <p class="mb-0">{{ comment.created_at | date }}</p>
      </template>
      <b-card-text>{{ comment.comment }}</b-card-text>
      <template #footer>
        <b-button class="mr-1" href="#" variant="primary" @click="toggleReply">Reply</b-button>
        <b-button variant="danger" @click="deleteComment">Delete</b-button>
      </template>
    </b-card>
    <CommentsForm v-if="showReplyForm" :id="comment.id" />
    <CommentsList v-if="hasReplies" nested :comments="comment.replies" />
  </div>
</template>

<script>
    import client from '../helpers/client.js';
    import events from '../helpers/events.js'
    import CommentsForm from './CommentsForm.vue'
    export default {
        name: 'Comment',
        components: {
            CommentsForm
        },
        props: {
            comment: {
                type: Object,
                default () {
                    return {}
                }
            }
        },
        computed: {
            hasReplies() {
                return !!this.comment.replies.length
            }
        },
        data() {
            return {
                showReplyForm: false
            }
        },
        methods: {
            toggleReply() {
                if (!this.showReplyForm) {
                    events.$emit('close-comment-form')
                }
                this.showReplyForm = !this.showReplyForm
            },
            deleteComment() {
                client.delete('/comments/' + this.comment.id)
                    .then(() => {
                        events.$emit('delete-comment', true)
                    })
                    .catch(e => {
                        console.log(e)
                    })
            }
        },
        created() {
            events.$on('close-comment-form', () => {
                this.showReplyForm  = false
            })
        }
    }
</script>

<style scoped>
</style>
