<template>
  <div class="comments-list-wrapper" :class="{ 'ml-5': nested }">
    <Comment v-for="comment in comments" :comment="comment" :key="comment.id" />
  </div>
</template>

<script>
    import Comment from './Comment.vue'
    export default {
        name: 'CommentsList',
        components: {
            Comment
        },
        props: {
            comments: {
                type: Array,
                default () {
                    return []
                }
            },
            nested: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {}
        },
        methods: {}
    }
</script>

<style scoped>
</style>
