<template>
  <div class="comments-form mt-2" :class="{ sticky }">
    <b-form @submit.prevent="onSubmit">
      <b-form-group label-for="textarea"
      >
        <b-form-textarea id="textarea" v-model="form.comment" placeholder="Enter something..." rows="3" max-rows="6"/>
      </b-form-group>

      <b-button class="mr-1" type="submit" variant="primary">Send</b-button>
    </b-form>
  </div>
</template>

<script>
    import events from '../helpers/events.js'

    export default {
        name: 'CommentsForm',
        props: {
            id: {
                type: [Number, Object],
                default () {
                    return null
                }
            },
            sticky: {
                type: Boolean,
                default () {
                    return false
                }
            }
        },
        data() {
            return {
                form: {
                    comment: ''
                },
                show: true
            }
        },
        methods: {
            onSubmit() {
                const { comment } = this.form
                if (!comment) {
                    return
                }
                let data = {}
                if (this.id) {
                    data = {
                        comment,
                        parent_id: this.id
                    }
                } else {
                    data = { comment }
                }
                events.$emit('send-comment', data)
                this.form.comment = ''
            }
        }
    }
</script>

<style scoped>
  .comments-form {
    background-color: #fff;
    padding: 15px 0;
    margin: 0;
    z-index: 1;
  }
  .comments-form.sticky {
    position: sticky;
    top: 0;
  }
</style>
