<template>
  <div id="app">
    <CommentsForm sticky />
    <CommentsList :comments="comments" />
    <div v-if="nextPage" class="d-flex justify-content-center mt-3">
      <b-button variant="primary" @click="loadMore">Load more</b-button>
    </div>
  </div>
</template>

<script>
    import client from './helpers/client.js';
    import events from './helpers/events.js'
    import CommentsForm from './components/CommentsForm.vue'

    export default {
        name: 'App',
        components: {
            CommentsForm
        },
        data() {
            return {
                page: 1,
                limit: 5,
                nextPage: false,
                comments: [],
                requestProcessing: false
            }
        },
        methods: {
            getComments(reload = false) {
                const page = reload ? null : this.page
                const limit = reload ? (this.limit > this.comments.length ? this.limit : this.comments.length) : this.limit
                client.get('/comments', {
                    params: {
                        page,
                        limit
                    }
                })
                    .then(response => {
                        if (reload) {
                            this.comments = response.data.comments
                            this.nextPage = response.data.next_page
                        } else {
                            this.comments = [ ...this.comments, ...response.data.comments ]
                            this.nextPage = response.data.next_page
                        }
                    })
                    .catch(e => {
                        console.log(e)
                    })
            },
            sendComment(data) {
                if (this.requestProcessing) {
                    return
                }
                this.requestProcessing = true
                client.post('/comments', data)
                    .then(() => {
                        events.$emit('close-comment-form')
                        this.getComments(true)
                        if (!data.parent_id) {
                            if (window.scrollTo) {
                                window.scrollTo(0, 0)
                            } else {
                                window.scrollTop = 0
                            }
                        }
                    })
                    .catch(e => {
                        console.log(e)
                    })
                    .finally(() => {
                        this.requestProcessing = false
                    })
            },
            loadMore() {
                this.page = this.page + 1
                this.getComments()
            }
        },
        created() {
            events.$on('send-comment', this.sendComment)
            events.$on('delete-comment', this.getComments)
            this.getComments()
        }
    }
</script>

<style>
  #app {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
</style>
